altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
gitdb
GitPython
idna
importlib_metadata
Jinja2
joblib
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
numpy
opencv-python
packaging
pandas
pillow
pinecone-client
protobuf
pyarrow
pydeck
Pygments
python-dateutil
python-dotenv
pytz
PyWavelets
referencing
requests
rich
rpds-py
scikit-learn
scipy
six
smmap
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
tqdm
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
zipp